<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BLOG</title>
<meta name="renderer" content="webkit">
<link rel="icon" type="image/png" href="#(g_path)/assets/i/favicon.png">
<link rel="icon" sizes="192x192" href="#(g_path)/assets/i/app-icon72x72@2x.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<script src="#(g_path)/js/comm/common.js"></script>

<style type="text/css">
* {
	margin: 0;
	padding: 0
}
</style>
</head>


<body id="blog">

	#include("/comm/commNav.html")

	<!-- content srart -->
	<div class="am-g am-g-fixed ">
		<div class="am-u-sm-12">

			<article class="am-g blog-entry-article">
				<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
					<img src="assets/i/f10.jpg" alt="" class="am-u-sm-12">
				</div>
				<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
					<span>
						<a href="" class="blog-color">article &nbsp;</a>
					</span>
					<span> @willcen &nbsp;</span>
					<span>2015/10/9</span>
					<h1>
						<a href="">我本楚狂人，凤歌笑孔丘</a>
					</h1>
					<p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。</p>
					<p>
						<a href="" class="blog-continue">continue reading</a>
					</p>
				</div>
			</article>

			<article class="am-g blog-entry-article">
				<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
					<img src="assets/i/f6.jpg" alt="" class="am-u-sm-12">
				</div>
				<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
					<span>
						<a href="" class="blog-color">article&nbsp;</a>
					</span>
					<span>@willcen &nbsp;</span>
					<span>2015/10/9</span>
					<h1>
						<a href="">世间所有的相遇，都是久别重逢。</a>
					</h1>
					<p>你可以选择在原处不停地跟周遭不解的人解释你为何这么做，让他们理解你，你可以选择什么都不讲，自顾自往前走。</p>
					<p>
						<a href="" class="blog-continue">continue</a>
					</p>
				</div>
			</article>

			<article class="am-g blog-entry-article">
				<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
					<img src="assets/i/f12.jpg" alt="" class="am-u-sm-12">
				</div>
				<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
					<span>
						<a href="" class="blog-color">article&nbsp;</a>
					</span>
					<span>@willcen</span>
					<span>2015/10/9</span>
					<h1>
						<a href="">陌上花开，可缓缓归矣。</a>
					</h1>
					<p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。我们就在骑楼下躲雨，看绿色的邮筒孤独地站在街的对面。</p>
					<p>
						<a href="" class="blog-continue">continue</a>
					</p>
				</div>
			</article>

			<article class="am-g blog-entry-article">
				<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
					<img src="assets/i/f22.jpg" alt="" class="am-u-sm-12">
				</div>
				<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
					<span>
						<a href="" class="blog-color">article&nbsp;</a>
					</span>
					<span>@willcen</span>
					<span>2015/10/9</span>
					<h1>
						<a href="">爱自己是终生浪漫的开始</a>
					</h1>
					<p>the whole of life becomes an act of letting go, but what always hurts the most is not taking a moment to say goodbye</p>
					<p>
						<a href="" class="blog-continue">continue</a>
					</p>
				</div>
			</article>

			<article class="am-g blog-entry-article">
				<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
					<img src="assets/i/f18.jpg" alt="" class="am-u-sm-12">
				</div>
				<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
					<span>
						<a href="" class="blog-color">article&nbsp;</a>
					</span>
					<span> @willcen &nbsp;</span>
					<span>2015/10/9</span>
					<h1>
						<a href="">My dear willcen, Hello </a>
					</h1>
					<p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。我们就在骑楼下躲雨，看绿色的邮筒孤独地站在街的对面。</p>
					<p>
						<a href="" class="blog-continue">continue reading</a>
					</p>
				</div>
			</article>



			<ul class="am-pagination">
				<li class="am-pagination-prev">
					<a href="">&laquo; Prev</a>
				</li>
				<li class="am-pagination-next">
					<a href="">Next &raquo;</a>
				</li>
			</ul>
		</div>

	</div>
	<!-- content end -->
	
</body>
</html>